*.[1-9].gz
!share/examples/splash/dfly.bmp.gz
*.bak
*.core
*.diff
!/contrib/groff/src/devices/grops/psfig.diff
!/lib/libstand/bzlib.c.diff
*.old
*.orig
*.patch
*.rej
*.swap
*~
.*.sw[po]
.sw[po]
cscope.*
*DS_Store*
*.cache
*.[psS]o
!/contrib/nvi/docs/USD.doc/vi.ref/index.so
!/contrib/nvi/docs/USD.doc/vi.ref/ref.so
*.a
!/bin/csh/USD.doc/csh.a
*.o
*.log
*.status
stamp-h*
*/stamp-h*
*/*/stamp-h*
*/*/*/stamp-h*
config.h
*/config.h
*/*/config.h
*/*/*/config.h
confdefs.h
*/confdefs.h
*/*/confdefs.h
*/*/*/confdefs.h
libtool
*/libtool
*/*/libtool
*/*/*/libtool
